
@model GymDiaryCodeFirst.Models.ViewModels.WorkoutExerciseDropdown

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div>
           <h2>
               @Html.LabelFor(x => x.Workout.Name)
               @Html.EditorFor(x => x.Workout.Name)
           </h2> 
        </div>

        @Html.HiddenFor(x => x.Workout.WorkoutId)
        @Html.HiddenFor(x => x.Workout.UserId)
        @Html.HiddenFor(x => x.Workout.Date)
        
        @using (Html.BeginForm("Edit", "Workouts", new { id = ViewBag.id }, FormMethod.Post))
        {
            for (var i = 0; i < Model.Workout.Exercises.Count; i++)
            {
                var id = "Exercise" + i.ToString();
                if (Model.Workout.Exercises[i].ExerciseStatsId != 0)
                {
                    @:<div id="@id" class="exercise-container">
                }

                else { 
                    @:<div id="@id" class="hidden hiddenExercise exercise-container">
                }

                            
                            @Html.HiddenFor(m => m.Workout.Exercises[i].ExerciseStatsId, new { @class = "id" })
                            @Html.HiddenFor(m => m.Workout.Exercises[i].DesiredSetId)

                            @Html.DropDownListFor(m => m.Workout.Exercises[i].ExerciseId, new SelectList(Model.Exercises, "Value", "Text", Model.Workout.Exercises[i].ExerciseId.ToString()), "--Exercise--")
                            @Html.EditorFor(m => m.Workout.Exercises[i].DesiredSetCount, new { htmlAttributes = new { placeholder = "Sets" } })
                            @Html.EditorFor(m => m.Workout.Exercises[i].DesiredSet.WeightInKg, new { htmlAttributes = new { placeholder = "Weight kg" } })
                            @Html.EditorFor(m => m.Workout.Exercises[i].DesiredSet.Reps, new { htmlAttributes = new { placeholder = "Reps" } })
                            @Html.EditorFor(m => m.Workout.Exercises[i].DesiredSet.Minutes, new { htmlAttributes = new { placeholder = "Mins" } })
                            <button type="button" class="cancel">x</button>
                        @:</div>

            }

                        <button type="button" id="newExercise">Add Exercise</button>
                        <button type="submit">Submit</button>

         }

    </div>

    <input id="workoutId" name="Workout.WorkoutId" type="hidden" value="@ViewBag.id">
    <p class="hidden" id="exercisesToRemove"></p>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/Scripts/src/EditWorkout.js")

}