<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" id="menu-container-full">
                @Html.ActionLink("GymDiary", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @id = "brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div class="navbar-header" id="menu-container-mobile">
            @Html.ActionLink("GymDiary", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @id = "brand" })
            <ul class="nav navbar-nav" id="menu">
                <li class="pull-right"><a id="mobileMenuBtn"><span class="glyphicon glyphicon-menu-hamburger"></span> Menu</a></li>
            </ul>
        </div>
    </div>
    <aside id="sidebar-mobile" class="hide">
        <div id="sidebarContent">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home", htmlAttributes: new { id = "registerLink", @class = "menuTextMobile" })</li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Account", "About", "Home", htmlAttributes: new { id = "registerLink", @class = "menuTextMobile" })</li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                }

                @if (!User.Identity.IsAuthenticated)
                {
                    <li>
                        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink",  @class = "menuTextMobile"})
                    </li>
                    <li class="positionAbsolute">
                        @Html.Partial("_LoginFormPartial", new GymDiaryCodeFirst.Models.LoginViewModel())
                    </li>
                }
            </ul>
        </div>
    </aside>
    <div class="container body-content" id="body">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/_layout.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
